.pill-label{border-radius:5px;padding:5px}code{font-family:Courier New,monospace;font-size:100%;padding:2px 4px;color:#c7254e;background-color:#f9f2f4;border-radius:4px}.ccps-nav-thumb{max-width:40px;max-height:40px;margin-right:10px;border:2px solid #fff}.has-error .invalid-feedback{display:block}
